@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: 100vw;
  overflow: auto;
}

.app {
  overflow: auto;
  transition: 0.4s all;
}